//Tarot cards module

// Import custom extends and mixins
// -----------------------------------------------------------------------
@import 'cards/*';

// Your styles
// -----------------------------------------------------------------------

#deck {
width:300px;
height:600px;
border:solid 1px #000;
}


