// Grid background for column view
// @import "stipe/grid/debug";

///////// global //////////

section {
	@include clearfix;
	@include grid(12.25, alphaomega, $grid_align: center);	
}



#deck {
width:300px;
height:600px;
border:solid 1px #000;
}

p {
	color:#fff;
}