// Where does this code come from?

// Placeholder extends with the `stipe_` prefix come from the Stipe gem. 
// TO DO: link to github forms/extends
// TO DO: link to github forms/mixins

// TO DO: breakout list of config options

// The variable UI parts of these placeholders are managed via your `_config.scss` file.

// Import custom extends and mixins
// -----------------------------------------------------------------------
@import "forms/*";

// Your styles
// -----------------------------------------------------------------------
input[type=email], input[type=password], input[type=text], input[type=number] {
	border: 2px solid #d7d7d7;
	font-size: 16px;
	height: 26px;
	padding: 2px;
	width: 320px;
}

// not represented in the style guide view
input[disabled], textarea[disabled], select[disabled], .disabled {
  @extend %stipe_disabled_inputs;
}

label {
  @extend %headings_4;
  border:none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-decoration:none;
}

.instructional {
  @extend %stipe_instructional;
}

.fail {
  @extend %stipe_fail;
}

.inline_alert {
  @extend %stipe_inline_alert;
}