//Daptiv navigation modules.

// Import custom extends and mixins
// -----------------------------------------------------------------------
@import 'navigation/*';

// Your styles
// -----------------------------------------------------------------------
#reading {
	@include grid(3);
	
	border:solid 1px $charlie_gray;
	border-radius:5px;
	box-shadow: 3px 3px 4px  $charlie_gray;
	-moz-box-shadow: 3px 3px 4px  $charlie_gray;
	-webkit-box-shadow: 3px 3px 4px  $charlie_gray;
	box-shadow: 3px 3px 4px  $charlie_gray;
	display:block;
	float:right;

	dt {
		background: $india_gray;
		border:dotted 1px $charlie_gray;
		font-weight:bold;
		margin:5px;
		padding:2px 0 5px 10px;
		text-transform: capitalize;
	}
	
	dd {
		background: $india_gray;
		margin:5px;
		padding:5px;
	}

	dt.active{
		color:$alpha_color;
		background: $white;
	}
	dd.active {
		 background: $white;
	}
}


#deck, #situation, #challenge, #power, #foundation, #past, #future, #self, #influences, #hope, #outcome {
  position:absolute;
  text-align: center;
  width: 15%;
  height: 20%; 
 }

#situation {
	@include layout("40%", "25%");
}

#challenge{
	@include layout("39%", "24%");
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5);	
}

@media(max-width: 1300px) and (min-height:900px) {
	#challenge {
		@include layout("37%", "22%");
	}
}

@media(max-width: 550px) and (min-height:900px) {
	#challenge {
		@include layout("34%", "7%");
	}
}
@media(max-width: 300px) and (min-height:900px) {
	#challenge {
		@include layout("32%", "-10%");
	}
}
@media(max-width: 1300px) and (max-height:900px) {
	#challenge {
		@include layout("39%", "24%");
	}
}

@media(max-width: 550px) and (max-height:800px) {
	#challenge {
		@include layout("39%", "22%");
	}
}


#power {
	@include layout("12%", "25%");
}

#foundation {
	@include layout("68%", "25%");
}

#past {
	@include layout("40%", "7%");
}

#future {
	@include layout("40%", "42%");
}

#self {
	@include layout("79%", "60%");
}

#influences {
	@include layout("53%", "60%");
}

#hope {
	@include layout("27%", "60%%");
}
#outcome {
	@include layout("1%", "60%");
}
