<nav id="global-nav" class="navbar">
    <ul class="nav-tabs">
          <li>
            <a href="#/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="#/tasks">Tasks</a>
        </li>
        <li>
            <a href="#/projects">Projects</a>
        </li>
        <li>
            <a  href="#/executive">Executive</a>
        </li>
        <li>
            <a href="#/timesheets">Timesheets</a>
        </li>
        <li class="dropdown-menu">
            <a href="#">More<span class="dropdown-caret"></span></a>
            <ul>
                <li><a href="#" class="active" >Calendar</a></li>
                <li><a href="#">Contacts</a>
                <li><a href="#">Approvals</a></li>
            </ul>
        </li>
    </ul>
</nav>