
<article id="reading">
	<aside>
		<h2>Situation</h2>
		<p>You are reading text, hocus pocus, mumbo jumbo, alakazam, lickety split.</p>
	</aside>
</article>
<article id="spread">
	<div class="deck"></div>
	<div id="situation" class="coins">
		<span class="one"></span>
	</div>
</article>