
<section>
	<article id="spread">
	<div id="deck">
		<img src="images/tarot/deck.gif">
	</div>
	<div id="situation">
		<img src="images/tarot/coins/1.gif">
	</div>
	<div id="challenge">
		<img src="images/tarot/wands/5.gif">
	</div>
	<div id="power">
		<img src="images/tarot/trump/devil.gif">
	</div>
	<div id="foundation">
		<img src="images/tarot/coins/8.gif">
	</div>
	<div id="past">
		<img src="images/tarot/swords/1.gif">
	</div>
	<div id="future">
	<img src="images/tarot/swords/king.gif">
	</div>
	<div id="self">
		<img src="images/tarot/cups/1.gif">
	</div>
	<div id="influences">
		<img src="images/tarot/trump/universe.gif">
	</div>
	<div id="hope">
		<img src="images/tarot/wands/8.gif">
	</div>
	<div id="outcome">
		<img src="images/tarot/cups/4.gif">
	</div>
</article>

</section>