
<article id="reading">
	<aside>
		<h2>Situation</h2>
		<p>You are reading text, hocus pocus, mumbo jumbo, alakazam, lickety split.</p>
	</aside>
</article>
<article id="spread">
	<div class="card_wrapper">
		<span class="deck"></span>
	</div>
	<div id="situation" class="card_wrapper coins">
		<span class="one"></span>
	</div>
	<div id="challenge" class="card_wrapper wands">
		<span class="one"></span>
	</div>
	<div id="higher-power" class="card_wrapper cups">
		<span class="one"></span>
	</div>
	<div id="foundation" class="card_wrapper swords">
		<span class="one"></span>
	</div>
	<div id="past" class="card_wrapper">
		<span class="star"></span>
	</div>
	<div id="future" class="card_wrapper">
		<span class="strength"></span>
	</div>
	<div id="self" class="card_wrapper swords">
		<span class="page"></span>
	</div>
	<div id="others" class="card_wrapper coins">
		<span class="page"></span>
	</div>
	<div id="hope-fear" class="card_wrapper">
		<span class="universe"></span>
	</div>
	<div id="outcome" class="card_wrapper wands">
		<span class="page"></span>
	</div>
</article>