<nav id="top-nav">
	<ul class="top-level-nav">
		  <li>
            <a href="#/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="#/tasks">Tasks</a>
        </li>
        <li>
            <a href="#/projects">Projects</a>
        </li>
        <li>
            <a  href="#/executive">Executive</a>
        </li>
        <li>
            <a href="#/timesheets">Timesheets</a>
        </li>
		<li>
			<a href="#">More</a>
			<ul class="drop-down-nav">
				<li><a href="#">Calendar</a></li>
				<li><a href="#">Contacts</a></li>
				<li><a href="#">Approvals</a></li>
			</ul>
		</li>
	</ul>
</nav>