<dl id="reading">
	<dt >
		Situation
	</dt>
	<dd>
		<p>You are reading text, hocus pocus, mumbo jumbo, alakazam, lickety split.</p>
	</dd>
	<dt>
		Challenge
	</dt>
	<dd>
		<p>You are reading text, hocus pocus, mumbo jumbo, alakazam, lickety split.</p>
	</dd>
	<dt>
		Power
	</dt>
	<dd>
		<p>You are reading text, hocus pocus, mumbo jumbo, alakazam, lickety split.</p>
	</dd>
	<dt>
		Fundation
	</dt>
	<dd>
		<p>You are reading text, hocus pocus, mumbo jumbo, alakazam, lickety split.</p>
	</dd>
	<dt>
		Past
	</dt>
	<dd>
		<p>You are reading text, hocus pocus, mumbo jumbo, alakazam, lickety split.</p>
	</dd>
	<dt>
		Future
	</dt>
	<dd>
		<p>You are reading text, hocus pocus, mumbo jumbo, alakazam, lickety split.</p>
	</dd>
	<dt>
		Self
	</dt>
	<dd>
		<p>You are reading text, hocus pocus, mumbo jumbo, alakazam, lickety split.</p>
	</dd>
	<dt>
		Influences
	</dt>
	<dd>
		<p>You are reading text, hocus pocus, mumbo jumbo, alakazam, lickety split.</p>
	</dd>
	<dt>
		Hope
	</dt>
	<dd>
		<p>You are reading text, hocus pocus, mumbo jumbo, alakazam, lickety split.</p>
	</dd>
	<dt>
		Outcome
	</dt>
	<dd>
		<p>You are reading text, hocus pocus, mumbo jumbo, alakazam, lickety split.</p>
	</dd>
</dl>