<header class="toadstool_header">
	<h1>Cards</h1>
</header>
<section id="deck">
	<%= partial :'shared/_toadstool_subheader', :locals => { 
      :header => 'deck', :text => 'This is the deck card that deals' 
    } %>
    <%= html_example 'cards/deck' %>
    <%= sass_example '_cards' %>
    
</section>