<header class="toadstool_header">
	<h1>navigation</h1>
</header>
<section id="celtic-cross">
	<%= partial :'shared/_toadstool_subheader', :locals => { 
      :header => 'Celtic Cross', :text => 'This is the tarot reading layout' 
    } %>
    <%= html_example 'navigation/celtic_cross' %>
    <%= sass_example '_navigation' %>
</section>
