@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\0000327}}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\0000336}}
body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\0000342}}
article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\0000350}}
img, object, embed {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\0000354}}
img {
  border-style: none;
  border-color: transparent;
  border-width: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\0000363}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\0000367}}
blockquote, q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\0000372}}
blockquote:before, blockquote:after {
  content: '';
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\0000379}}
q:before, q:after {
  content: '';
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\0000385}}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\0000391}}
  a:focus {
    text-decoration: underline;
    outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\0000397}}
del {
  text-decoration: line-through; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003102}}
pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003114}}
input[type="radio"] {
  vertical-align: text-bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003119}}
input, textarea, select, button {
  font-family: inherit;
  font-weight: inherit;
  background-color: #fff;
  border: 0;
  padding: 0;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003128}}
table {
  font-size: inherit;
  font: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003133}}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003139}}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003146}}
sub {
  bottom: -0.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003152}}
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003158}}
.clickable, label {
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003163}}
input[type=button], input[type=submit] {
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003168}}
button {
  cursor: pointer;
  margin: 0;
  width: auto;
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003175}}
a.button {
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003181}}
.ie7 img {
  -ms-interpolation-mode: bicubic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003188}}
a:link {
  -webkit-tap-highlight-color: #b3d6dc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003192}}
ins {
  background-color: #facb47;
  color: black;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003198}}
mark {
  background-color: #facb47;
  color: #3b3436;
  font-style: italic;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003205}}
::selection {
  background: white;
  color: #3b3436; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/resets\/_toadstool\.scss}line{font-family:\00003210}}
::-moz-selection {
  background: white;
  color: #3b3436; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_extends\.scss}line{font-family:\000038}}
h2, h3, h4, label, #login-area input, #login-area label, h5, h6, h1 {
  font-size: 3.28571em;
  line-height: 1.36957em;
  margin-bottom: 0.45652em;
  color: #231f20;
  font-weight: normal;
  font-family: "Helvetica Neue", Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_extends\.scss}line{font-family:\0000312}}
h2 {
  font-size: 1.85714em;
  line-height: 1.61538em;
  margin-bottom: 0.80769em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_extends\.scss}line{font-family:\0000317}}
h3 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_extends\.scss}line{font-family:\0000322}}
h4, label, #login-area input, #login-area label {
  font-size: 1.14286em;
  line-height: 1.3125em;
  margin-bottom: 1.3125em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_extends\.scss}line{font-family:\0000327}}
h5 {
  font-size: 1.28571em;
  line-height: 1.16667em;
  margin-bottom: 1.16667em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_extends\.scss}line{font-family:\0000332}}
h6 {
  font-size: 1.28571em;
  line-height: 1.16667em;
  margin-bottom: 1.16667em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/forms\/_extends\.scss}line{font-family:\0000317}}
input[disabled], textarea[disabled], select[disabled], .disabled {
  background-color: #f7f6f6;
  border-color: #bbb2b5;
  color: #bbb2b5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/forms\/_mixins\.scss}line{font-family:\0000322}}
  input[disabled]:hover, textarea[disabled]:hover, select[disabled]:hover, .disabled:hover {
    border-color: #bbb2b5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/forms\/_extends\.scss}line{font-family:\0000337}}
.fail {
  border-color: #ff6666 !important;
  color: #ff6666 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/forms\/_mixins\.scss}line{font-family:\0000330}}
  input .fail {
    background: #ffe5e5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/forms\/_mixins\.scss}line{font-family:\0000333}}
  .fail:focus {
    background: #ffe5e5 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/forms\/_mixins\.scss}line{font-family:\0000336}}
  .fail label {
    color: #ff6666 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/forms\/_mixins\.scss}line{font-family:\0000339}}
  .fail select, .fail input[type="text"], .fail input[type="date"], .fail input[type="password"] {
    background: #ffe5e5;
    border-color: #ff6666;
    color: #ff6666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/stipe\/_mixins\.scss}line{font-family:\0000386}}
    .fail select::-webkit-input-placeholder, .fail input[type="text"]::-webkit-input-placeholder, .fail input[type="date"]::-webkit-input-placeholder, .fail input[type="password"]::-webkit-input-placeholder {
      color: #ff6666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/stipe\/_mixins\.scss}line{font-family:\0000389}}
    .fail select:-moz-placeholder, .fail input[type="text"]:-moz-placeholder, .fail input[type="date"]:-moz-placeholder, .fail input[type="password"]:-moz-placeholder {
      color: #ff6666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/stipe\/_mixins\.scss}line{font-family:\0000392}}
    .fail select:-ms-input-placeholder, .fail input[type="text"]:-ms-input-placeholder, .fail input[type="date"]:-ms-input-placeholder, .fail input[type="password"]:-ms-input-placeholder {
      color: #ff6666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/forms\/_mixins\.scss}line{font-family:\0000344}}
    .fail select:focus, .fail input[type="text"]:focus, .fail input[type="date"]:focus, .fail input[type="password"]:focus {
      background: #ffe5e5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/forms\/_extends\.scss}line{font-family:\0000347}}
.instructional {
  color: #52494b;
  line-height: 1.5em;
  margin-top: 0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/forms\/_extends\.scss}line{font-family:\0000357}}
.inline_alert {
  line-height: 2.14286em;
  font-weight: bold;
  -webkit-border-radius: 0.21429em;
  border-radius: 0.21429em;
  border: 1px solid #ff6666;
  padding-left: 0.85714em;
  background: #ff4d4d;
  color: white;
  margin-top: 0.85714em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_default\.scss}line{font-family:\000031}}
html {
  font: 0.875em "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  color: #3b3436; }
  @media screen and (max-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_default\.scss}line{font-family:\000031}}
    html {
      -webkit-text-size-adjust: none;
      /* Prevent font scaling in landscape */ } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_default\.scss}line{font-family:\0000342}}
p {
  margin-bottom: 1.5em;
  text-indent: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_default\.scss}line{font-family:\0000348}}
b:after {
  content: " "; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_default\.scss}line{font-family:\0000357}}
a:link {
  color: #69a106;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_default\.scss}line{font-family:\0000361}}
a:hover, a:active {
  text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/typography\/_default\.scss}line{font-family:\0000364}}
a:visited {
  color: #69a106; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/typography\/_extends\.scss}line{font-family:\0000315}}
h2 {
  font-weight: bold;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/typography\/_extends\.scss}line{font-family:\0000319}}
h4, label, #login-area input, #login-area label {
  color: #6a5e61;
  font-weight: bold;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/_forms\.scss}line{font-family:\0000317}}
input[type=email], input[type=password], input[type=text], input[type=number] {
  border: 2px solid #d7d7d7;
  font-size: 16px;
  height: 26px;
  padding: 2px;
  width: 320px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/_forms\.scss}line{font-family:\0000330}}
label {
  border: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/_buttons\.scss}line{font-family:\0000322}}
button, a.button {
  color: #231f20;
  line-height: 2.28571em;
  border-radius: 0.35714em;
  padding: 0 1.42857em;
  font-size: 0.85714em;
  font-weight: bold;
  background-color: #d5d0d1;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD5D0D1', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d5d0d1), color-stop(50%, #f9f8f9), color-stop(51%, #dcd8d9), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #d5d0d1 0%, #f9f8f9 50%, #dcd8d9 51%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #d5d0d1 0%, #f9f8f9 50%, #dcd8d9 51%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #d5d0d1 0%, #f9f8f9 50%, #dcd8d9 51%, #ffffff 100%);
  background-image: linear-gradient(top, #d5d0d1 0%, #f9f8f9 50%, #dcd8d9 51%, #ffffff 100%);
  border: 1px solid #c9c2c4;
  text-shadow: 0px 3px 3px #c9c2c4;
  box-shadow: 0 0.14286em 0.42857em 0em rgba(35, 31, 32, 0.5);
  margin-left: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/buttons\/lib\/_gloss-default\.scss}line{font-family:\0000325}}
  button:hover, a.button:hover {
    background-color: #bdb5b7;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBDB5B7', endColorstr='#FFE7E4E5');
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bdb5b7), color-stop(50%, #e1ddde), color-stop(51%, #c5bdbf), color-stop(100%, #e7e4e5));
    background-image: -webkit-linear-gradient(top, #bdb5b7 0%, #e1ddde 50%, #c5bdbf 51%, #e7e4e5 100%);
    background-image: -moz-linear-gradient(top, #bdb5b7 0%, #e1ddde 50%, #c5bdbf 51%, #e7e4e5 100%);
    background-image: -o-linear-gradient(top, #bdb5b7 0%, #e1ddde 50%, #c5bdbf 51%, #e7e4e5 100%);
    background-image: linear-gradient(top, #bdb5b7 0%, #e1ddde 50%, #c5bdbf 51%, #e7e4e5 100%); }
  @media screen and (max-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/_buttons\.scss}line{font-family:\0000322}}
    button, a.button {
      width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/_buttons\.scss}line{font-family:\0000324}}
  button:nth-child(2), a.button:nth-child(2) {
    background-color: #d5d0d1;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFB1A7AA');
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #d5d0d1), color-stop(100%, #b1a7aa));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #d5d0d1 50%, #b1a7aa 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #d5d0d1 50%, #b1a7aa 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #d5d0d1 50%, #b1a7aa 100%);
    background-image: linear-gradient(top, #ffffff 0%, #d5d0d1 50%, #b1a7aa 100%);
    border: 1px solid #bdb5b7;
    color: #231f20;
    line-height: 2.28571em;
    border-radius: 0.35714em;
    padding: 0 1.42857em;
    font-size: 0.85714em;
    font-weight: bold;
    text-shadow: 0px 3px 1px #bdb5b7;
    box-shadow: 0 0.14286em 0.42857em 0em rgba(35, 31, 32, 0.5), white 0 1px 0 inset; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/buttons\/lib\/_shiny-default\.scss}line{font-family:\0000325}}
    button:nth-child(2):hover, a.button:nth-child(2):hover {
      background-color: #bdb5b7;
      *zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE7E4E5', endColorstr='#FF998C90');
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7e4e5), color-stop(50%, #bdb5b7), color-stop(100%, #998c90));
      background-image: -webkit-linear-gradient(top, #e7e4e5 0%, #bdb5b7 50%, #998c90 100%);
      background-image: -moz-linear-gradient(top, #e7e4e5 0%, #bdb5b7 50%, #998c90 100%);
      background-image: -o-linear-gradient(top, #e7e4e5 0%, #bdb5b7 50%, #998c90 100%);
      background-image: linear-gradient(top, #e7e4e5 0%, #bdb5b7 50%, #998c90 100%); }
    @media screen and (max-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/_buttons\.scss}line{font-family:\0000324}}
      button:nth-child(2), a.button:nth-child(2) {
        width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/_buttons\.scss}line{font-family:\0000327}}
  button:nth-child(3), a.button:nth-child(3) {
    background-color: #d5d0d1;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC2BABC', endColorstr='#FFD5D0D1');
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c2babc), color-stop(75%, #d5d0d1));
    background-image: -webkit-linear-gradient(top, #c2babc 0%, #d5d0d1 75%);
    background-image: -moz-linear-gradient(top, #c2babc 0%, #d5d0d1 75%);
    background-image: -o-linear-gradient(top, #c2babc 0%, #d5d0d1 75%);
    background-image: linear-gradient(top, #c2babc 0%, #d5d0d1 75%);
    border: 1px solid #a59a9d;
    color: #231f20;
    line-height: 2.28571em;
    border-radius: 0.35714em;
    padding: 0 1.42857em;
    font-size: 0.85714em;
    font-weight: bold;
    text-shadow: 0px 1px 3px rgba(165, 154, 157, 0.5);
    box-shadow: 0 0.14286em 0.42857em 0em rgba(35, 31, 32, 0.5), white 0 1px 0 inset; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/buttons\/lib\/_flat-default\.scss}line{font-family:\0000324}}
    button:nth-child(3):hover, a.button:nth-child(3):hover {
      background-color: #bdb5b7;
      *zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFAA9FA2', endColorstr='#FFBDB5B7');
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aa9fa2), color-stop(75%, #bdb5b7));
      background-image: -webkit-linear-gradient(top, #aa9fa2 0%, #bdb5b7 75%);
      background-image: -moz-linear-gradient(top, #aa9fa2 0%, #bdb5b7 75%);
      background-image: -o-linear-gradient(top, #aa9fa2 0%, #bdb5b7 75%);
      background-image: linear-gradient(top, #aa9fa2 0%, #bdb5b7 75%); }
    @media screen and (max-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/_buttons\.scss}line{font-family:\0000327}}
      button:nth-child(3), a.button:nth-child(3) {
        width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/_buttons\.scss}line{font-family:\0000330}}
  button:nth-child(4), a.button:nth-child(4) {
    background-color: #d5d0d1;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD5D0D1', endColorstr='#FFD5D0D1');
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d5d0d1), color-stop(50%, #8d7f82), color-stop(100%, #d5d0d1));
    background-image: -webkit-linear-gradient(top, #d5d0d1 0%, #8d7f82 50%, #d5d0d1 100%);
    background-image: -moz-linear-gradient(top, #d5d0d1 0%, #8d7f82 50%, #d5d0d1 100%);
    background-image: -o-linear-gradient(top, #d5d0d1 0%, #8d7f82 50%, #d5d0d1 100%);
    background-image: linear-gradient(top, #d5d0d1 0%, #8d7f82 50%, #d5d0d1 100%);
    border: 1px solid #a59a9d;
    color: #231f20;
    line-height: 2.28571em;
    border-radius: 0.35714em;
    padding: 0 1.42857em;
    font-size: 0.85714em;
    font-weight: bold;
    text-shadow: 0px 1px 3px rgba(165, 154, 157, 0.5);
    box-shadow: 0 0.14286em 0.42857em 0em rgba(35, 31, 32, 0.5), white 0 1px 0 inset; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/buttons\/lib\/_three-dee\.scss}line{font-family:\0000322}}
    button:nth-child(4):hover, a.button:nth-child(4):hover {
      background-color: #bdb5b7;
      *zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBDB5B7', endColorstr='#FFBDB5B7');
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bdb5b7), color-stop(50%, #736669), color-stop(100%, #bdb5b7));
      background-image: -webkit-linear-gradient(top, #bdb5b7 0%, #736669 50%, #bdb5b7 100%);
      background-image: -moz-linear-gradient(top, #bdb5b7 0%, #736669 50%, #bdb5b7 100%);
      background-image: -o-linear-gradient(top, #bdb5b7 0%, #736669 50%, #bdb5b7 100%);
      background-image: linear-gradient(top, #bdb5b7 0%, #736669 50%, #bdb5b7 100%); }
    @media screen and (max-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/_buttons\.scss}line{font-family:\0000330}}
      button:nth-child(4), a.button:nth-child(4) {
        width: 100%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/_buttons\.scss}line{font-family:\0000334}}
  button:nth-child(1), a.button:nth-child(1) {
    margin-left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/_design\.scss}line{font-family:\000038}}
body {
  background: #6d6d70; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/ui_patterns\/backgrounds\/_background_pattern\.scss}line{font-family:\000036}}
#container {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF211D1D', endColorstr='#FF6D6D70');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #211d1d), color-stop(100%, #6d6d70));
  background-image: -webkit-linear-gradient(top, #211d1d 0%, #6d6d70 100%);
  background-image: -moz-linear-gradient(top, #211d1d 0%, #6d6d70 100%);
  background-image: -o-linear-gradient(top, #211d1d 0%, #6d6d70 100%);
  background-image: linear-gradient(top, #211d1d 0%, #6d6d70 100%);
  background-color: #D6D670; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/ui_patterns\/backgrounds\/_background_pattern\.scss}line{font-family:\0000313}}
#footer {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFD6D6D6');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #d6d6d6 100%);
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #d6d6d6 100%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, #d6d6d6 100%);
  background-image: linear-gradient(top, #eeeeee 0%, #d6d6d6 100%);
  background-color: #eee; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/content_module\/_content_module\.scss}line{font-family:\000036}}
#content {
  zoom: 1;
  background-color: white;
  border-radius: 0.57143em 0.57143em 0 0;
  margin: 0 auto;
  text-align: left;
  width: 975px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/stipe\/_mixins\.scss}line{font-family:\00003271}}
  #content:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/stipe\/_mixins\.scss}line{font-family:\00003277}}
  #content:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/footer_module\/_footer_module\.scss}line{font-family:\000036}}
#footer {
  border-top: solid 1px #d5d0d1;
  float: left;
  height: 90px;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/footer_module\/_footer_module\.scss}line{font-family:\0000312}}
  #footer a {
    color: #52494b;
    font-size: 12px;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/footer_module\/_footer_module\.scss}line{font-family:\0000318}}
  #footer a:hover {
    color: #231f20; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/footer_module\/_footer_module\.scss}line{font-family:\0000322}}
  #footer ul {
    zoom: 1;
    margin: 18px 0 0 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/stipe\/_mixins\.scss}line{font-family:\00003271}}
    #footer ul:before {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/\.rvm\/gems\/ruby-1\.9\.3-p392\@toadstool\/gems\/stipe-0\.0\.5\.7\.4\/stylesheets\/stipe\/stipe\/_mixins\.scss}line{font-family:\00003277}}
    #footer ul:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
      clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/footer_module\/_footer_module\.scss}line{font-family:\0000327}}
  #footer ul li {
    float: left;
    margin-right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/footer_module\/_footer_module\.scss}line{font-family:\0000332}}
  #footer p {
    color: #817276;
    float: left;
    font-size: 12px;
    margin: 20px 0 0 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/footer_module\/_footer_module\.scss}line{font-family:\0000339}}
  #footer img {
    float: right;
    margin: -10px 45px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/header_module\/_header_module\.scss}line{font-family:\000036}}
#header {
  color: white;
  height: 105px;
  margin: 0 auto;
  width: 1060px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/login_module\/_login_module\.scss}line{font-family:\000037}}
#login-area {
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/login_module\/_login_module\.scss}line{font-family:\0000310}}
  #login-area form {
    margin: 34px 45px 60px 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/login_module\/_login_module\.scss}line{font-family:\0000318}}
  #login-area ul li {
    margin: 8px 0;
    width: 330px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/login_module\/_login_module\.scss}line{font-family:\0000323}}
  #login-area li.remember-me {
    margin-top: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/login_module\/_login_module\.scss}line{font-family:\0000326}}
    #login-area li.remember-me label {
      display: inline;
      font-size: 12px;
      font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/login_module\/_login_module\.scss}line{font-family:\0000333}}
  #login-area li.login-forgot-password {
    margin-top: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/login_module\/_login_module\.scss}line{font-family:\0000336}}
    #login-area li.login-forgot-password a {
      font-size: 12px;
      float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/login_module\/_login_module\.scss}line{font-family:\0000345}}
#login-feeds {
  border-left: solid 1px #c0b8ba;
  display: inline-block;
  margin: 34px 0px 60px 40px;
  padding: 11px 45px 0px 45px;
  width: 395px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/login_module\/_login_module\.scss}line{font-family:\0000352}}
  #login-feeds h4 {
    border-bottom: 1px solid #3b3436;
    margin-bottom: 14px;
    padding-bottom: 10px;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/avacollins\/src\/toadstool\/sass\/modules\/login_module\/_login_module\.scss}line{font-family:\0000359}}
  #login-feeds ul {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    padding: 14px 0; }
