@import "mixins";
@import "extends";

// -----------------------------------------


#login-area {
	float:left;
	
	form {
		margin: 34px 45px 60px 40px;
	}

	input, label {
		@extend %headings_4
	}

	li {
		margin:8px 0;
		width:300px;
	}

	.remember-me {
		margin-top:18px;
	
		label {
			display: inline;
			font-size: 12px;
			font-weight: normal;
		}	
	}

	.login-forgot-password {
		margin-top:18px;
	
		a {
			font-size:12px;
			float:right;
		}
	}

	button {
		@include gloss_default;
	}
}



#login-feeds {
	border-left:solid 1px $hotel_gray;
	display:inline-block;
	margin: 34px 0px 60px 40px;
	padding:11px 45px 0px 45px;
	width:395px;

	h4 {
		border-bottom:1px solid $bravo_gray;
		margin-bottom:14px;
		padding-bottom:10px;
		width:100%;
	}

	li	{
		@include strong($alpha_primary, 1.5em);
		padding: 8px 0;
	}


}