<div class="card_display_wrapper coins">
	<div class="card_wrapper"><img src="images/tarot/coins/1.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/2.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/3.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/4.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/5.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/6.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/7.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/8.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/9.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/10.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/page.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/knight.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/queen.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/coins/king.gif"></span></div>
</div>