<div class="card_display_wrapper swords">
	<div class="card_wrapper"><img src="images/tarot/swords/1.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/2.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/3.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/4.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/5.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/6.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/7.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/8.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/9.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/10.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/page.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/knight.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/queen.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/swords/king.gif"></span></div>
</div>
</div>