<div class="card_display_wrapper swords">
	<div class="card_wrapper"><span class="one"></span></div>
	<div class="card_wrapper"><span class="two"></span></div>
	<div class="card_wrapper"><span class="three"></span></div>
	<div class="card_wrapper"><span class="four"></span></div>
	<div class="card_wrapper"><span class="five"></span></div>
	<div class="card_wrapper"><span class="six"></span></div>
	<div class="card_wrapper"><span class="seven"></span></div>
	<div class="card_wrapper"><span class="eight"></span></div>
	<div class="card_wrapper"><span class="nine"></span></div>
	<div class="card_wrapper"><span class="ten"></span></div>
	<div class="card_wrapper"><span class="page"></span></div>
	<div class="card_wrapper"><span class="knight"></span></div>
	<div class="card_wrapper"><span class="queen"></span></div>
	<div class="card_wrapper"><span class="king"></span></div>
</div>