<div class="card_display_wrapper cups">
	<div class="card_wrapper"><img src="images/tarot/cups/1.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/2.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/3.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/4.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/5.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/6.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/7.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/8.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/9.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/10.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/page.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/knight.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/queen.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/cups/king.gif"></span></div>
</div>
</div>