<div class="card_display_wrapper wands">
	<div class="card_wrapper"><img src="images/tarot/wands/1.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/2.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/3.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/4.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/5.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/6.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/7.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/8.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/9.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/10.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/page.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/knight.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/queen.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/wands/king.gif"></span></div>
</div>
</div>