<div id="cups" class="card_display_wrapper">
	<div class="one"></div>
	<div class="two"></div>
	<div class="three"></div>
	<div class="four"></div>
	<div class="five"></div>
	<div class="six"></div>
	<div class="seven"></div>
	<div class="eight"></div>
	<div class="nine"></div>
	<div class="ten"></div>
	<div class="page"></div>
	<div class="knight"></div>
	<div class="queen"></div>
	<div class="king"></div>
</div>