<div class="card_display_wrapper">
	<div class="card_wrapper"><img src="images/tarot/trump/fool.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/magus.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/priestess.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/empress.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/emperor.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/hierophant.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/lovers.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/chariot.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/strength.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/hermit.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/wheel.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/justice.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/hanged_man.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/death.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/temperance.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/devil.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/tower.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/star.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/moon.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/sun.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/judgement.gif"></span></div>
	<div class="card_wrapper"><img src="images/tarot/trump/universe.gif"></span></div>
