<div class="card_display_wrapper">
	<div class="fool"></div>
	<div class="magus"></div>
	<div class="priestess"></div>
	<div class="empress"></div>
	<div class="emperor"></div>
	<div class="hierophant"></div>
	<div class="lovers"></div>
	<div class="chariot"></div>
	<div class="strength"></div>
	<div class="hermit"></div>
	<div class="wheel"></div>
	<div class="justice"></div>
	<div class="hanged_man"></div>
	<div class="death"></div>
	<div class="temperance"></div>
	<div class="devil"></div>
	<div class="tower"></div>
	<div class="star"></div>
	<div class="moon"></div>
	<div class="sun"></div>
	<div class="judgement"></div>
	<div class="universe"></div>
</div>