<div class="card_display_wrapper">
	<div class="card_wrapper"><span class="fool"></span></div>

	<div class="card_wrapper"><span class="magus"></span></div>

	<div class="card_wrapper"><span class="priestess"></span></div>

	<div class="card_wrapper"><span class="empress"></span></div>

	<div class="card_wrapper"><span class="emperor"></span></div>

	<div class="card_wrapper"><span class="hierophant"></span></div>
	
	<div class="card_wrapper"><span class="lovers"></span></div>

	<div class="card_wrapper"><span class="chariot"></span></div>

	<div class="card_wrapper"><span class="strength"></span></div>
	
	<div class="card_wrapper"><span class="hermit"></span></div>

	<div class="card_wrapper"><span class="wheel"></span></div>

	<div class="card_wrapper"><span class="justice"></span></div>

	<div class="card_wrapper"><span class="hanged_man"></span></div>

	<div class="card_wrapper"><span class="death"></span></div>

	<div class="card_wrapper"><span class="temperance"></span></div>

	<div class="card_wrapper"><span class="devil"></span></div>

	<div class="card_wrapper"><span class="tower"></span></div>

	<div class="card_wrapper"><span class="star"></span></div>

	<div class="card_wrapper"><span class="moon"></span></div>

	<div class="card_wrapper"><span class="sun"></span></div>

	<div class="card_wrapper"><span class="judgement"></span></div>

	<div class="card_wrapper"><span class="universe"></span></div>
</div>