@import "mixins";
@import "extends";

// -----------------------------------------

%footer {
	border-top:solid 1px $india_gray; //I know there is a UI
	float:left;
	height: 90px;
	width: 100%;
	 
	 a {
	 	color:$href_color_alt;
	 	font-size:12px;
	 	text-decoration:none;
	 }

	 a:hover {
	 	color:$alpha_gray;
	 }

	 ul {
	 	@include clearfix;
	 	margin:18px 0 0 40px;
	 }

	 ul li {
	 	float:left;
	 	margin-right:20px;
	 }

	 p {
	 	color:$echo_gray;
	 	float:left;
	 	font-size:12px;
	 	margin:20px 0 0 40px;
	 }

	 img {
	 	float:right;
	 	margin:-10px 45px 0 ;
	 }


}

