%top_level_nav {

	li:first-child {
		border-left:4px solid $bravo_color;
	}

	ul {
		@include clearfix;
		float:left;
	}	
	
	li {
		background: $fox_color_charlie;
		float:left;
		list-style:none;
	}

	a:link, a:visited {
		background:$fox_color_charlie;
		color:$fox_color_india;
		display:block;
		padding:10px 20px;
		text-decoration:none;
	}

	a:hover, a:active {
		background: $fox_color_india;
		color:$fox_color;
		display:block;
		margin-top:3px;
		padding: 7px 20px 10px 20px;
		text-decoration:none;
	}
}

%drop_down_nav {

	.drop-down-nav li{
		border: none;
		float:none;
	}
}

