%navbar {
	background: $fox_color_charlie;
	height:41px;
	width:100%;
	
	ul {
		@include clearfix;
		width:100%;
	}
}

%nav-tabs {

	li:first-child {
		border-left:4px solid $bravo_color;
	}
	
	li {
		background: $bravo_color;
		@include clearfix;
		float:left;
		list-style:none;
	}

	a:link, a:visited {
		background:$fox_color_charlie;
		color:$fox_color_india;
		display:block;
		padding:10px 20px;
		text-decoration:none;
	}

	a:hover, a:active {
		background: $fox_color_india;
		color:$fox_color;
		margin-top: 3px;
		padding:10px 20px 7px 20px;
	}
}

%dropdown-menu {

	.dropdown-menu li{
		border: none;
		float:none;

		a:hover, a:active {
			padding:10px 20px;
			margin:0;
		}
	}
}
