%navbar {

	background: $fox_color_charlie;
	height:41px;

	ul {
		display:block;
		width: 975px;
		clear:both;
	}
}

%nav-tabs {

	li:first-child {
		border-left:4px solid $bravo_color;
	}
	
	li {
		background: $bravo_color;
		display:inline-block;
		list-style:none;
	}

	a:link, a:visited {
		background:$fox_color_charlie;
		color:$fox_color_india;
		display:block;
		padding:10px 20px;
		text-decoration:none;
	}

	a:hover, a:active {
		background: $fox_color_india;
		color:$fox_color;
	}
}

%dropdown-menu {

	li.dropdown-menu {
		display:inline-block;
		position:relative;
	}

	.dropdown-caret {
		position:absolute;
		top:20px;
		right:5px;
		@extend %dropdown-caret;
	}

	.dropdown-menu ul {
		display:none;
		position:absolute;
		width: auto;
		z-index: 999999;
	}
	.dropdown-menu li{
		border: none;
		width:100%;
		a:hover, a:active {
			padding:10px 20px;
			margin:0;
		}
	}
}
