<form>
  <fieldset>
    <button>This is a button</button>
    <button><object type="image/svg+xml" data="images/home_2.svg">
            </object></button>
    <button>This is a button</button>
    <button><object type="image/svg+xml"  data="images/cog.svg">
            </object></button>
  </fieldset>
</form>